* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	overflow-x: hidden;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	padding: 2rem;
	background: #000b46;
	color: #fff;
}

.navbar ul {
	display: flex;
	gap: 2rem;
	color: #ffff;
	font-size: 1.5rem;
}

.navbar ul li a {
	color: #fff;
}

.form-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.left-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #fffcf8;
	justify-content: center;
}
.left-image {
}

.left-image img {
	max-width: 100%;
	width: 35rem;
	margin: 0 auto;
}
.left-div h1 {
	text-align: center;
	font-size: 3.5rem;
	margin: 1rem 0;
	padding: 1rem 2.5rem;
}

.link-section {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	font-size: 1.6rem;
}

.link-section a {
	color: #0163f2;
}

.bottom-text {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
	margin: 2rem 0;
	text-align: center;
}

.right-div {
	padding: 5rem;
}
.top-div {
	display: flex;
	align-items: flex-end;
	justify-content: end;
}

.top-div h3 {
	font-weight: 600;
}
.top-div h3 a {
	color: #0163f2;
}

.title {
	margin: 5rem 0;
	display: flex;
	flex-direction: column;
}

.title h3 {
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.title p {
	color: #817f7f;
	font-size: 1.2rem;
}

input,
select {
	border: none;
	outline: none;
	padding: 1rem;
	border-radius: 5px;
	background: #fafafa;
	color: #757575;
	width: 100%;
}

label {
	font-size: 1rem;
	font-weight: 600;
	color: #757575;
}

.form-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	margin: 1.5rem 0;
}

.inner-section {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
}

.password-input {
	display: flex;
	align-items: center;
	gap: 1rem;
	background: #fafafa;
	border-radius: 5px;
	padding-right: 1rem;
}

.password-input .bx {
	color: #757575;
}

.confirmation-text {
	margin: 2rem 0;
	padding-right: 2.5rem;
	font-size: 1.1rem;
}

.confirmation-text p a {
	color: #0163f2;
}

.submit-button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	width: 100%;
	padding: 1.2rem;
	background: #0163f2;
	color: #fff;
	border-radius: 5px;
	border: none;
	outline: none;
	font-size: 1rem;
}

.home-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}

.home-button a {
	background: #0163f2;
	color: #fff;
	padding: 1rem 2rem;
	font-size: 1rem;
	border-radius: 5px;
}
@media screen and (max-width: 800px) {
	.form-container {
		display: grid;
		grid-template-columns: 1fr;
	}
}
@media screen and (max-width: 600px) {
	.form-row {
		display: flex;
		flex-direction: column;
	}
}
